{% extends "layout.html" %}

{% block title %}
    Transaction Complete
{% endblock %}

{% block main %}
<p> {{ quote }} </p>
    <div class="container">
        <table class="table">
            <p> {{ available }}</p>
            <tr>
                <th>Stock Symbol</th>
                <th>Company</th>
                <th>Shares</th>
                <th>Share Price</th>
                <th>Total Price</th>
                <th>Date</th>

            </tr>
            <tr>


            </tr>
        </table>
    </div>
{% endblock %}